${data.map(restaurant => {
    return `
        <p>Food Type: ${restaurant.category}</p>

    `
}).join('')}

<h2>REVIEWS</h2>
<hr/>
<form action="/" method="POST">
    <input type="hidden" name="restaurant_id" value=${data[0].id}>
    <label>Title
        <input type="text" name="review_title" placeholder="Review Title"/>
    </label>
    <label>My Review
        <textarea name="review_text" placeholder="My review of this restaurant..."></textarea>   
    </label>
    <button type ="submit">Save Review</button>
</form>

${reviewList.map(review => {
    return `
        <h3>${review.title}</h3>
        <p>${review.review}</p>
    `
}).join('')}

<a href="/">Return to Homepage</a>